@model IEnumerable<ApiTranslateASP.NETWEB.Models.Translation>
@{
    ViewData["Title"] = "LeetSpeak Converter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-12 mt-5">
    <h4 class="text-center">Translate Text to LeetSpeak</h4>
    <div class="col-4 mt-2"></div>
    <div class="col-4 bg-dark mt-3" style="height: 30vh; border-radius: 7px;">
        <form class="col-12 mt-3" method="post" action="/Translate/Translate">
            <div class="form-group col-12 fw-bold">
                <label for="inputText" class="text-white">Input Text</label>
                <input type="text" class="form-control mt-2" id="inputText" name="inputText" required placeholder="Enter text to translate">
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 mt-3">
                    <button type="submit" id="translateButton" class="btn btn-secondary w-100">Translate</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="position-fixed top-0 start-0" style="z-index: 9999;">
    <div id="toastContainer" style="width: 200px;">
        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
        {
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Success</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    @ViewBag.SuccessMessage
                </div>
            </div>
        }
    </div>
</div>


<!-- Add JavaScript to hide the success message after a timeout -->
<script>
    // Wait for the DOM to be ready
    $(document).ready(function () {
        // Check if the success message exists
        var successMessage = $("#successMessage");
        if (successMessage.length > 0) {
           setTimeout(function () {
                successMessage.fadeOut("slow");
            }, 3000); 
        }
    });
</script>
