@model IEnumerable<ApiTranslateASP.NETWEB.Models.Translation>
@{
    ViewData["Title"] = "Saved Translations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Saved Translations</h2>
<table id="myTable" class="table table-bordered table-dark table-sm text-center" style="width: 50%;">
    <thead>
        <tr>
            <th>Original Text</th>
            <th>Translated Text</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var translation in Model)
        {
            <tr>
                <td>@translation.OriginalText</td>
                <td>@translation.TranslatedText</td>
            </tr>
        }
    </tbody>
</table>

<!-- Add DataTables JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<!-- Initialize DataTables -->
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
